{% extends "blog/base.html" %}
{% load markuptags %}

{% load comments %}

{% block title %}{{ page.title }}{% endblock %}

{% block summary_area %}
<div class="faded-title"><a href="{{ blog.get_absolute_url }}">{{ page.title }}</a></div>
<h1>{{ blog.tagline }}</h1>
{% if section.intro %}<div class="summary-area">{% markupsection sections "intro" %}</div>{% endif %}
{% endblock %}



{% block column1 %}

{% markupsection sections "main" %}


{% get_comments for page as comments %}

<a name="comments"> </a>
{% if comments %}
<div class="comments">
    <h2>{{ comments.count }} Comment{{ comments.count|pluralize }} on "{{ page.title }}"</h2>
    {% include "includes/comments.html" %}
</div>
{% endif %}

{% get_comment_form for page as comment_form %}
{% include "includes/comment_form.html" %}


{% endblock %}



{% block js_foot %}
<script type="text/javascript" src="/media/js/comments.js"> </script>
{% endblock %}
