{% extends "blog/base.html" %}
{% load markuptags %}
{% load blogtags %}
{% load comments %}

{% block js_foot %}
<script type="text/javascript" src="/media/js/comments.js"> </script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}


{% block summary_area %}
<h1 class="faded-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
{% comment %}
{% if blog.tagline.strip %}<div class="blog-tagline">{{ blog.tagline }}</div>{% endif %}
{% if section.intro %}<div class="summary-area">{% markupsection sections "intro" %}</div>{% endif %}
{% endcomment %}
{% endblock %}



{% block column1 %}

{% if prev_post or next_post %}
<div class="post-navigation">
    {% if prev_post %}
    <div class="prev-post">
        <a href="{{ prev_post.get_absolute_url }}" title="Older post">{{ prev_post.title }}</a>
    </div>
    {% endif %}

    {% if next_post %}
    <div class="next-post">
        <a href="{{ next_post.get_absolute_url }}" title="Newer post">{{ next_post.title }}</a>
    </div>{% endif %}
    <div class="clear"> </div>
</div>
{% endif %}

<div class="post">
<h2>{{ post.title }}</h2>
<div class="post-subtitle">{{ post.display_time|date:"F jS, Y" }}</div>

{{ post.content_html|safe }}

</div>

<div class="post-description">
    This blog post was posted to <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
    on {{ post.display_time|date:"l F jS, Y" }}
    at {{ post.display_time|time:"g:sA" }}
</div>


{% get_comments for post as comments %}

<a name="comments"> </a>
{% if comments %}
<div class="comments">
    <h3>{{ comments.count }} Response{{ comments.count|pluralize }} to "{{ post.title }}"</h3>
    {% include "blog/includes/comments.html" %}
</div>
{% endif %}

{% if post.allow_comments %}
{% get_comment_form for post as comment_form %}
{% include "blog/includes/comment_form.html" %}
{% endif %}


{% endblock %}


{% block column2 %}

{% markupsection sections "column2" %}

{% if not is_preview and not user.is_anonymous %}
<div class="module-header">Admin Options</div>
<div class="module">
    <ul class="links-list">
        <li><a href="{% url writer blog.slug post.id %}">Edit this Page</a></li>
        <li><a href="/admin/blog/post/{{ post.id}}">Admin Page</a></li>
    </ul>

</div>
{% endif %}


{% include "blog/modules/search.html" %}

{% with tags as post.get_tags %}
{% if tags %}
<div class="module-header">Tags</div>
    <ul class="links-list">
    <div class="module">
    {% for tag in tags %}
    <li><a href="{{ tag.get_absolute_url }}" class="tag">{{ tag.name|smart_title }}</a></li>
    {% endfor %}
    </div>
    </ul>
{% endif %}
{% endwith %}

{% if related_posts %}
    <div class="module-header">Possibly related posts</div>
    <div class="module">
<ul class="links-list">
    {% for post in related_posts %}
    <li><a href="{{ post.get_absolute_url }}"{% if post.is_new %} class="new" {% endif %}>{{ post.title }}</a></li>
    {% endfor %}
</ul>

    </div>
{% endif %}

{% endblock %}
