{% extends "blog/base.html" %}

{% load markuptags %}
{% block title %}Posts tagged with '{{ tag.name }}'{% endblock %}

{% load blogtags %}

{% block summary_area %}
<h1 class="faded-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
{% if blog.tagline.strip %}<div class="blog-tagline">{{ blog.tagline }}</div>{% endif %}
{% if section.intro %}<div class="summary-area">{% markupsection sections "intro" %}</div>{% endif %}
{% endblock %}


{% block column1 %}

<div class="page-header"><em>{{ tag.name|smart_title }}</em> posts</div>
{% include "includes/post_list.html" %}


{% if older_page_url or newer_page_url %}
<div class="summary-navigation">
    {% if older_page_url %}
    <div class="prev-post">
        <a href="{{ older_page_url }}">Older posts</a>
    </div>
    {% endif %}

    {% if newer_page_url %}
    <div class="next-post">
        <a href="{{ newer_page_url }}">Newer posts</a>
    </div>{% endif %}
    <div class="clear"> </div>
</div>
{% endif %}

{% endblock %}
