body
{
    background-color:#eee;
    background-color:#555;
    font-family:"Verdana","Arial","Helvetica",sans-serif;

    background-color:#ededed;
    background-color:#929292;
    /*background-image:url("/media/images/blueback.png");*/
    background-repeat:repeat-x;
}


#title
{
    margin:0 auto;

    padding:0px;

}

#title .inner
{
    padding:22px 22px 0px 22px;
}


#main
{

    border-left:1px solid #666;
    border-right:1px solid #666;
    border-bottom:1px solid #666;

}


#header
{
    margin:0 auto;
    /*min-height:150px;*/
    background-color:#ddd;
    background-color:#333;
    color:white;
    background-image:url(/media/images/titleshade.png);
    background-position:0 bottom;

/*
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #333;
*/


    /*background-color:#aeaeae;
    background-image:url("/media/images/swirly.jpg");
    background-repeat:repeat-x;*/
    /*background-image:url("/media/images/back.png");*/
}

#header .inner
{
    padding:18px 0px 20px 0px;
    background-image:url(/media/images/topshade.png);
    background-repeat:no-repeat;
}

.blurb
{
    width:500px;
    float:right;
}

.pic
{
    float:left;
    border:6px solid white;
    margin:20px;
    padding:0px;
}

.intro
{
    background-image:url(/media/images/topgradient.png);
    padding:20px;
    border-bottom:4px solid white;
    display:none;
}

.title-area h1
{
    font-size:120%;
    font-weight:normal;
    color:white;
    text-align:center;
    clear:both;
    padding-top:4px;
    /*background-color:#575773;*/
}


.title-area .faded-title
{
    font-size:300%;
    opacity:.2;
    font-weight:bold;
    z-index:20;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    color:white;
}

.title-area .faded-title a:visited, .title-area .faded-title a:link
{
    color:white;
}

.tagline
{
    font-size:90%;
    font-weight:bold;
    color:#ddd;
    text-align:center;
    padding:20px 0px;
}

.tagline a, .tagline a:visited
{
    font-weight:bold;
    /*color:black;*/
    color:white;
}


.top-border
{
    clear:both;
    height:26px;
    background-image:url(/media/images/topborder.png);
}

.bottom-border
{
    clear:both;
    height:26px;
    background-image:url(/media/images/bottomborder.png);
    margin-bottom:30px;
}

.page-summary
{
    padding:2px 32px;
    font-size:90%;
    padding-top:12px;
}

.header-content p
{
    color:white;
    /*color:#FF8000;*/
    padding:10px 28px;
    margin:0;
    font-weight:bold;
    font-size:90%;
    margin:24px 2px;
}

.header-content .inner
{
    color:white;
    padding:4px 30px;
    margin:0;
    font-weight:bold;
    color:#eee;
}

#content
{
    margin:0 auto;
    width:938px;
    margin-top:40px;
    padding-top:0px;

    /*border:1px solid #444;*/
    /*border-top:4px solid #999;*/
    background-color:#fff;
    /*border:2px solid #666;*/

/*    background-image:url("/media/images/blogback.png");
    background-repeat:repeat-y;*/

}

.bottom-shadow
{
    background-image:url("/media/images/bottomshadow.png");
    height:26px;
    clear:both;
}

#header
{
    background-color:#333;
}
#footer
{
    padding-top:20px;
}

#content-top
{
    margin:0 auto;
    width:980px;


/*
    background-image:url("/media/images/blogpage.png");
    background-repeat:no-repeat;
*/
}

#header .inner
{
    margin:0px;
}

#header .header-content
{
    /*background-color:#36393D;
    background-color:#CCC;*/
    padding:2px;
    /*background-image:url(/media/images/blueswirl.jpg);*/
    margin-bottom:30px;
    margin-left:2px;
    margin-right:2px;
}


#column1
{
    width:628px;
    float:left;
    overflow:hidden;
    /*background-image:url("/media/images/bottomshadow.png");*/
    background-repeat:repeat-x;
}
#column1 .inner
{

    margin-left:44px;
    margin-right:44px;

}

#column2
{
    width: 306px;
    float:left;
    overflow:hidden;
    /*border-left:1px solid #bbb;*/
    /*background-color:#eee;*/
    /*background-image:url("/media/images/bottomshadow.png");*/
    background-repeat:repeat-x;
}


.column1-content p
{
}

.entry p
{
    margin-left:50px;
}

.column1-content
{
    /*padding:10px;*/
}

.column2-content
{
    padding:0px 20px;
    background-color:#f9f9f9;
    /*padding:10px;*/

}

#footer .inner
{
    /*margin-left:24px;
    margin-right:24px;
    padding-bottom:24px;*/
    /*margin:1px;*/

}

#footer .inner .footer-content
{
    color:#333;
    background-color:#eee;
    padding:8px;
    font-size:70%;
    /*font-weight:bold;*/
}

#column1 p,#column2 p
{
    font-size:80%;
    line-height:120%;
    padding-bottom:1em;
    color:#333;
}

.subtext
{
    width:980px;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:30px;
    font-size:80%;
    text-align:center;
    color:#fff;
}

.subtext a, .subtext a:visited
{
    color:white;
}


.credit
{
    padding-bottom:20px;
    color:white;
    font-size:70%;
    margin:0 auto;
    text-align:center;
}

.credit a, .credit a:visited
{
    color:white;
    font-weight:bold;
}

.toplinks
{
    list-style: none;
    display: inline;

    width:100%;
}

.toplinks li
{
    float:left;
    padding:4px;
    font-family:Helvetica,Arial,sans-serif;
    padding:4px 20px 4px 30px;
}



.header-links
{
    /*background-color:#bbb;*/
    font-size:90%;
    margin:4px;

/*    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    background-image:url("/media/images/subtlegradient.png");
    background-position:0 1px;
    background-repeat:repeat-x;
    margin:5px;
    padding:5px;
}

.toplinks a
{
    text-decoration:none;
    /* color:white; */
    font-weight:bold;
    font-size:12px;

}

.toplinks a:link
{
}

.toplinks a:active
{
    color:white;
}

.toplinks a:visited
{
    color:white;
}

.toplinks a:hover
{
    text-decoration:underline;
}


a
{
    /*color:#752A26;*/
    color:#821f07;
    /*font-weight:bold;*/
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}

a:visited
{
    color:#752A26;
}

a:active
{
    color:#752A26;
}

#column1 h1
{
    font-size:20px;
    font-weight:400;
    margin:10px -2px;

    color:#555;
    color:#0066cc;
    color:#194c7f;

    /*border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    /*background-image:url("/media/images/subtlegradient.png");*/
    background-position:0 1px;
    background-repeat:repeat-x;
    padding:0px 2px 6px 0px;

}

.post-subtitle
{
    font-size:70%;
    color:#666;
    margin-top:-4px;
    margin-bottom:20px;
}

.post-date
{
    background-color:white;
    float:left;
    color:white;
    text-align:center;
    border:1px solid #ddd;
    margin-right:8px;
}

.post-date>.date-inner
{
    text-align:center;
    margin:1px;
    /*background-image:url(/media/images/dateback.png);*/
    background-color:#821f07;
    background-color:#07825d;
    padding:2px 4px;
}

.post-date .month
{
    font-weight:bold;
    font-size:65%;
    text-transform:uppercase;
}

.post-date .day
{
    font-weight:bold;
    font-size:100%;
}

.post-date .year
{
    font-weight:normal;
    font-size:60%;
    color:white;
}


.mug-shot
{
    width:64px;
    float:left;
    padding:1px;
    border:1px solid #bbb;
    margin:2px 8px 2px 0px;
}

strong {font-weight:bold;}

.summary-area
{
    width:600px;
    font-size:80%;
    margin:0 auto;
    padding:2px;
    color:#555;
    text-align:justify;
    font-weight:normal;
    padding-top:20px;
    padding-bottom:2px;
}

.summary-area p
{
    color:white;
    line-height:120%;
}

.summary-area a
{
    color:white;
}

.read-more
{
    font-style:italic;
    text-align:right;
    font-size:80%;
    width:100%;
}

.entry
{
    clear:both;

    padding-bottom:16px;
    border-bottom:1px dashed #bbb;
}

.entry a
{font-weight:normal;}

.pullquote
{
    width:49%;
    float:right;
    font-size:120%;
    font-style:italic;
    color:#194c7f;
    line-height:130%;
    background-color:#f8f8f8;
    padding:6px;
    margin:4px;
    font-family:Georgia;
}

.pullout-right
{
    width:30%;
    float:right;
    background-color:#f8f8f8;
    padding:6px;
    margin:4px;
    border:1px solid #bbb;

    font-size:85%;
    line-height:120%;
    color:black;
}

.pullout-left
{
    width:30%;
    float:left;
    background-color:#f8f8f8;
    padding:6px;
    margin:4px;
    margin-right:16px;
    border:1px solid #bbb;

    font-size:85%;
    line-height:120%;
    color:black;
}

.prev-entry
{

    float:left;
    font-size:85%;
}

.next-entry
{

    float:right;
    font-size:85%;
}

.prev-entry a
{
    background-image:url(/media/images/icons/arrow_left.png);
    background-position:left center;
    background-repeat:no-repeat;
    padding-left:20px
}


.next-entry a
{
    background-image:url(/media/images/icons/arrow_right.png);
    background-position:right center;
    background-repeat:no-repeat;
    padding-right:20px
}

.entry-description
{
    background-color:#f9f9f9;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    font-size:70%;
    padding:10px 2px;

    color:#666;
}

.post-navigation
{
    font-size:80%;
    padding-top:6px;
    padding-bottom:6px;
    margin-top:20px;
    margin-bottom:20px;
    /*background-color:#f6f6f6;*/
}