body
{
    background-color:#eee;
    background-color:#555;
    font-family:"Verdana","Arial","Helvetica",sans-serif;

    background-color:#ededed;
    background-color:#929292;
    /*background-image:url("/media/images/blueback.png");*/
    background-repeat:repeat-x;
}


#title
{
    margin:0 auto;

    padding:0px;

}

#title .inner
{
    padding:22px 22px 0px 22px;
}


#main
{

    border-left:1px solid #666;
    border-right:1px solid #666;
    border-bottom:1px solid #666;

}


#header
{
    margin:0 auto;
    /*min-height:150px;*/
    background-color:#ddd;
    background-color:#333;
    color:white;
    background-image:url(/media/images/titleshade.png);
    background-position:0 bottom;

/*
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #333;
*/


    /*background-color:#aeaeae;
    background-image:url("/media/images/swirly.jpg");
    background-repeat:repeat-x;*/
    /*background-image:url("/media/images/back.png");*/
}

#header .inner
{
    padding:18px 0px 20px 0px;
    background-image:url(/media/images/topshade.png);
    background-repeat:no-repeat;
}

.blurb
{
    width:500px;
    float:right;
}

.pic
{
    float:left;
    border:6px solid white;
    margin:20px;
    padding:0px;
}

.intro
{
    background-image:url(/media/images/topgradient.png);
    padding:20px;
    border-bottom:4px solid white;
    display:none;
}

.title-area h1
{
    font-size:120%;
    font-weight:normal;
    color:white;
    text-align:center;
    clear:both;
    padding-top:4px;
    /*background-color:#575773;*/
    clear:both;
}


.title-area .faded-title
{
    font-size:300%;
    opacity:.2;
    font-weight:bold;
    z-index:20;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    color:white;
}

.title-area .faded-title a:visited, .title-area .faded-title a:link
{
    color:white;
}

.tagline
{
    font-size:90%;
    font-weight:bold;
    color:#ddd;
    text-align:center;
    padding:20px 0px;
}

.tagline a, .tagline a:visited
{
    font-weight:bold;
    /*color:black;*/
    color:white;
}


.top-border
{
    clear:both;
    height:26px;
    background-image:url(/media/images/topborder.png);
}

.bottom-border
{
    clear:both;
    height:26px;
    background-image:url(/media/images/bottomborder.png);
    margin-bottom:30px;
}

.page-summary
{
    padding:2px 32px;
    font-size:90%;
    padding-top:12px;
}

.header-content p
{
    color:white;
    /*color:#FF8000;*/
    padding:10px 28px;
    margin:0;
    font-weight:bold;
    font-size:90%;
    margin:24px 2px;
}

.header-content .inner
{
    color:white;
    padding:4px 30px;
    margin:0;
    font-weight:bold;
    color:#eee;
}

#content
{
    margin:0 auto;
    width:938px;
    margin-top:40px;
    padding-top:0px;

    /*border:1px solid #444;*/
    /*border-top:4px solid #999;*/
    background-color:#fff;
    /*border:2px solid #666;*/

/*    background-image:url("/media/images/blogback.png");
    background-repeat:repeat-y;*/

}

.bottom-shadow
{
    background-image:url("/media/images/bottomshadow.png");
    height:26px;
    clear:both;
}

#header
{
    background-color:#333;
}
#footer
{
    padding-top:20px;
}

#content-top
{
    margin:0 auto;
    width:980px;


/*
    background-image:url("/media/images/blogpage.png");
    background-repeat:no-repeat;
*/
}

#header .inner
{
    margin:0px;
}

#header .header-content
{
    /*background-color:#36393D;
    background-color:#CCC;*/
    padding:2px;
    /*background-image:url(/media/images/blueswirl.jpg);*/
    margin-bottom:30px;
    margin-left:2px;
    margin-right:2px;
}


#column1
{
    width:628px;
    float:left;
    overflow:hidden;
    /*background-image:url("/media/images/bottomshadow.png");*/
    background-repeat:repeat-x;
}
#column1 .inner
{

    margin-left:44px;
    margin-right:44px;

}

#column2
{
    width: 306px;
    float:left;
    overflow:hidden;
    /*border-left:1px solid #bbb;*/
    /*background-color:#eee;*/
    /*background-image:url("/media/images/bottomshadow.png");*/
    background-repeat:repeat-x;
}

#column2 h1
{
    font-size:15px;
    font-weight:bold;
    margin:10px 0px;

    color:#555;

    font-family:Arial,sans-serif;

    /*border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    /*background-image:url("/media/images/subtlegradient.png");*/
    background-position:0 1px;
    background-repeat:repeat-x;
    padding:0px 0px 3px 0px;
    font-family:arial,sans-serif;
    border-bottom:1px solid #aaa;
    clear:both;

}


.column1-content p
{
}

.entry p
{
    margin-left:60px;
}

.entry h1
{
    margin-left:60px !important;
}

.column1-content
{
    /*padding:10px;*/
}

.column2-content
{
    padding:6px 20px 20px 20px;
    background-color:#f9f9f9;
    /*padding:10px;*/

}

#footer .inner
{
    /*margin-left:24px;
    margin-right:24px;
    padding-bottom:24px;*/
    /*margin:1px;*/

}

#footer .inner .footer-content
{
    color:#333;
    background-color:#eee;
    padding:8px;
    font-size:70%;
    /*font-weight:bold;*/
}

#column1 p,#column2 p
{
    font-size:80%;
    line-height:normal;
    padding-bottom:1em;
    color:#333;
    text-align:justify;
}

.subtext
{
    width:980px;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:30px;
    font-size:80%;
    text-align:center;
    color:#fff;
}

.subtext a, .subtext a:visited
{
    color:white;
}


.credit
{
    padding-bottom:20px;
    color:white;
    font-size:70%;
    margin:0 auto;
    text-align:center;
}

.credit a, .credit a:visited
{
    color:white;
    font-weight:bold;
}

.toplinks
{
    list-style: none;
    display: inline;

    width:100%;
}

.toplinks li
{
    float:left;
    padding:4px;
    font-family:Helvetica,Arial,sans-serif;
    padding:4px 20px 4px 30px;
}



.header-links
{
    /*background-color:#bbb;*/
    font-size:90%;
    margin:4px;

/*    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    background-image:url("/media/images/subtlegradient.png");
    background-position:0 1px;
    background-repeat:repeat-x;
    margin:5px;
    padding:5px;
}

.toplinks a
{
    text-decoration:none;
    /* color:white; */
    font-weight:bold;
    font-size:12px;

}

.toplinks a:link
{
}

.toplinks a:active
{
    color:white;
}

.toplinks a:visited
{
    color:white;
}

.toplinks a:hover
{
    text-decoration:underline;
}


a
{
    /*color:#752A26;*/
    color:#821f07;
    /*font-weight:bold;*/
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}

a:visited
{
    color:#752A26;
}

a:active
{
    color:#752A26;
}

#column1 h1
{
    font-size:20px;
    font-weight:400;
    margin:10px -2px;

    color:#555;
    color:#0066cc;
    color:#194c7f;

    /*border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    /*background-image:url("/media/images/subtlegradient.png");*/
    background-position:0 1px;
    background-repeat:repeat-x;
    padding:0px 2px 6px 0px;
    font-family:arial,sans-serif;
}


#column1 h2
{
    font-size:80%;

    font-weight:bold;
    margin:10px -2px;

    color:#555;
    color:#0066cc;
    color:#194c7f;

    /*border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    /*background-image:url("/media/images/subtlegradient.png");*/
    background-position:0 1px;
    background-repeat:repeat-x;
    padding:0px 2px 6px 0px;
    font-family:arial,sans-serif;
}

#column1 h3
{
    font-size:80%;
    font-weight:bold;
    color:#666;
    padding-bottom:1px;
    border-bottom:1px dotted #aaa;
    margin-top:12px;
}

.post-subtitle
{
    font-size:70%;
    color:#666;
    margin-top:-10px;
    margin-bottom:10px;
    font-family:arial,sans-serif;
}

.post-date
{
    background-color:white;
    float:left;
    color:white;
    text-align:center;
    border:1px solid #ddd;
    margin-right:8px;
}

.post-date>.date-inner
{
    text-align:center;
    margin:1px;
    /*background-image:url(/media/images/dateback.png);*/
    background-color:#821f07;
    background-color:#07825d;
    padding:2px 4px;
}

.post-date .month
{
    font-weight:bold;
    font-size:65%;
    text-transform:uppercase;
}

.post-date .day
{
    font-weight:bold;
    font-size:100%;
}

.post-date .year
{
    font-weight:normal;
    font-size:60%;
    color:white;
}


.mug-shot
{
    width:64px;
    float:left;
    padding:1px;
    border:1px solid #bbb;
    margin:2px 8px 2px 0px;
}

strong {font-weight:bold;}

.summary-area
{
    width:600px;
    font-size:80%;
    margin:0 auto;
    padding:2px;
    color:#555;
    text-align:justify;
    font-weight:normal;
    padding-top:20px;
    padding-bottom:2px;
}

.summary-area p
{
    color:white;
    line-height:120%;
}

.summary-area a
{
    color:white;
}

.read-more
{
    font-style:italic;
    text-align:right;
    font-size:80%;
    width:100%;
}

.entry
{
    clear:both;

    padding-bottom:16px;
    border-bottom:1px dashed #bbb;
}

.entry a
{font-weight:normal;}

.pullquote
{
    width:49%;
    float:right;
    font-size:110%;
    font-style:italic;
    color:#194c7f;
    line-height:130%;
    /*background-color:#f8f8f8;*/
    padding:6px;
    margin:4px;
    /*font-family:Georgia, serif, cursive;*/
    text-align:justify;
}

.pullout-right
{
    width:30%;
    float:right;
    background-color:#f8f8f8;
    padding:10px;
    margin:4px;

    font-size:85%;
    line-height:120%;
    color:black;

    background-color:#07825D !important;
    background-image:url(/media/images/titleshade2.png);
}

.pullout-left
{
    width:30%;
    float:left;
    background-color:#f8f8f8;
    padding:10px;
    margin:4px;
    margin-right:16px;
    /*border:1px solid #07825D;*/


    font-size:85%;
    line-height:120%;
    color:black;

    background-color:#07825D !important;
    background-image:url(/media/images/titleshade2.png);
}

.prev-entry
{
    padding:2px;
    float:left;
    font-size:85%;
}

.next-entry
{
    padding:2px;
    float:right;
    font-size:85%;
}

.prev-entry a
{
    background-image:url(/media/images/icons/arrow_left.png);
    background-position:left center;
    background-repeat:no-repeat;
    padding-left:20px
}


.next-entry a
{
    background-image:url(/media/images/icons/arrow_right.png);
    background-position:right center;
    background-repeat:no-repeat;
    padding-right:20px
}

.entry-description
{
    background-color:#f9f9f9;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    font-size:70%;
    padding:10px 2px;

    color:#666;
}

.post-navigation
{
    font-size:80%;
    padding-top:6px;
    padding-bottom:6px;
    margin-top:20px;
    margin-bottom:20px;
    /*background-color:#f6f6f6;*/
}

.summary-navigation
{
    font-size:80%;
    padding-top:6px;
    padding-bottom:6px;
    margin-top:20px;
    margin-bottom:20px;
    width:50%;
    margin: 20px auto;
    /*background-color:#f6f6f6;*/
}

ul.links-list
{
    padding:4px;
    margin-bottom:30px;
}

.links-list li
{

    list-style: none;
    float:left;
    font-weight:bold;
    color:#aaa;
    margin-right:22px;
    font-size:80%;
    /*font-family:courier, sans-serif;*/
}

.links-list li a
{
    padding-bottom:1px;
    border-bottom:4px solid white;
    color:#aaa;
}

.links-list li a:hover
{
    color:#333;
    padding-bottom:1px;
    border-bottom:4px solid #07825D !important;
    text-decoration:none;
}

.links-list li a:visited
{
    padding-bottom:1px;
    border-bottom:4px solid white;

}

.links-area
{
    margin-left:40px;
    margin-bottom:60px;
}

.archive-months
{
    font-size:80%;
    padding-left:16px;
}

.archive-months li
{
    padding:1px;
}

.archive-year
{
    padding:2px;
    font-size:110%;
    color:#666;
    margin-top:8px;
    /*border-bottom:1px solid #bbb;*/
    margin-bottom:4px;
    clear:both;
}

.archive-month
{
    /*width:100px;
    float:left;*/
}

.archive-count
{
    /*font-weight:bold;*/
    float:left;
    color:#777;
}

blockquote
{
    margin-left:20px;
    /*border-left:8px solid #07825D;*/
    background-color:#F5F5FF;
    /*background-color:#07825D;*/
    padding-left:16px;
    margin-bottom:10px;
    /*font-weight:bold;*/
    background-image:url("/media/images/quotes.png");
    background-repeat:no-repeat;
    padding-left:40px;
    padding-right:16px;
    width:80%;
}

.pullout-left p, .pullout-right p
{
    padding-bottom:2px !important;
    padding-top:2px !important;
    color:white !important;
    text-align:left !important;
}

blockquote p
{
    padding-bottom:4px !important;
    padding-top:4px !important;
    font-size:75% !important;
    line-height:150% !important;
    color:#555 !important;
}

.spacer
{
    background-image:url(/media/images/titleshade2.png);
    height:16px;
    width:100%;
}

.tag
{
    /*font-size:50%;*/
    /*height:22px;*/
    /*padding:4px;*/
   /* text-align:center;*/
    /*display:table-row;*/

    /*float:left;*/
    vertical-align:super;
}

.archives
{
}

.tag-cloud
{
    text-align:center;
    margin-bottom:30px;
    /*font-family:courier, monospace;*/
    /*display:inline;*/
    font-family:arial;
    text-align:center;

}


.tag a
{

    list-style: none;
    font-weight:bold;
    /*color:#666;*/
    /*font-family:courier, sans-serif;*/
    padding:1px;
    padding-left:4px;
    padding-right:4px;

    padding-bottom:1px;
    /*border-bottom:4px solid transparent;*/
    margin-bottom:4px;
    color:#777;
}

.tag a:hover
{
    color:#111;
    color:#07825D;
    padding-bottom:1px;
    text-decoration:none;
    background-color:white;
    border:1px solid #777;
    padding:0px;
    padding-left:3px;
    padding-right:3px;
    opacity:1.0;

}

.tag a:visited
{
    padding-bottom:1px;
    /*border-bottom:4px solid white;*/

}


.related-posts-list
{
    font-size:80% !important;
    margin: 10px 0;
    /*list-style-type:*/
    /*list-style-image:url(/media/images/icons/bullet_go.png);*/

}

.related-posts-list li
{
    padding:2px;
}

.related-posts-list a
{
    margin:4px 2px;
    padding-left:22px;
    padding-bottom:4px;
    min-height:16px;
    background-image:url(/media/images/icons/bullet_go.png);
    background-repeat:no-repeat;
}

.brief-summary
{
    font-size:80%;
    line-height:normal;
    color:#666;
    /*text-align:justify;*/
    padding-bottom:10px;
}