{% load blogtags %}
{% load comments %}
<h2><a href="{% get_post_url blog_root post %}">{{ post.title }}</a></h2>

<div class="post-subtitle">{{ post.display_time|date:"F jS, Y" }}</div>

<div class="microblog">
{{ post.content_html|urlize|safe }}
</div>

<div class="post-info">

    <div class="comments-count">
{% get_comments_count for post as num_comments %}
{% if num_comments %}<a class="comments-link" href="{% get_post_url blog_root post %}#comments">{{ num_comments }} comments</a>{% endif %}
{% if not num_comments %}<a  class="comments-link" href="{% get_post_url blog_root post %}#comments">No comments</a>{% endif %}
</div>
<div class="tag-list">
    {% for tag in post.get_tags %}<a class="tag-link" href="{{ blog_root }}{{ tag.get_blog_relative_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {%endif %} {% endfor %}</a>
</div>

</div>
<div class="clear"> </div>