{% load blogtags %}
{% load humanize %}
{% load comments %}

{% for post in posts %}

<div class="post separator">

<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

<div class="post-subtitle">{{ post.display_time|date:"F jS, Y" }}</div>

{% if not post.content_summary_html %}
    {{ post.content_html|first_paragraph|safe }}
{% endif %}


{% if post.content_summary_html %}
    {{ post.content_summary_html|safe }}
{% endif %}

<div class="read-more"><a href="{{ post.get_absolute_url }}">Read more...</a></div>

<div class="post-info">

    <div class="comments-count">
{% get_comments_count for post as num_comments %}
{% if num_comments %}<a class="comments-link" href="{{ post.get_absolute_url }}#comments">{{ num_comments }} comments</a>{% endif %}
{% if not num_comments %}<a  class="comments-link" href="{{ post.get_absolute_url }}#comments">No comments</a>{% endif %}
</div>
<div class="tag-list">
    {% for tag in post.get_tags %}<a class="tag-link" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {%endif %} {% endfor %}</a>
</div>

</div>
<div class="clear"> </div>

</div>
{% endfor %}
