{% load blogtags %}
{% load humanize %}

{% for post in posts %}

<div class="post">

<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

<div class="post-subtitle">{{ post.display_time|date:"F jS, Y" }}</div>

{% if not post.content_summary_html %}
    {{ post.content_html|first_paragraph|safe }}
{% endif %}


{% if post.content_summary_html %}
    {{ post.content_summary_html|safe }}
{% endif %}

<div class="read-more"><a href="{{ post.get_absolute_url }}">Read more...</a></div>

</div>
<br/>
{% endfor %}
