{% extends "blog_base.html" %}

{% load comments %}

{% block title %}{{ post.title }}{% endblock %}

{% block summary_area %}
<div class="faded-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></div>
<h1>{{ blog.tagline }}</h1>
{% endblock %}

{% block column1 %}

{% if prev_post or next_post %}
<div class="post-navigation">
    {% if prev_post %}
    <div class="prev-post">
        <a href="{{ prev_post.get_absolute_url }}" title="Older post">{{ prev_post.title }}</a>
    </div>
    {% endif %}

    {% if next_post %}
    <div class="next-post">
        <a href="{{ next_post.get_absolute_url }}" title="Newer post">{{ next_post.title }}</a>
    </div>{% endif %}
    <div class="clear"> </div>
</div>
{% endif %}


<h2>{{ post.title }}</h2>
<div class="post-subtitle">{{ post.display_time|date:"F jS, Y" }}</div>

{{ post.content_html|safe }}



<div class="post-description">
    This blog post was posted to <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
    on {{ post.display_time|date:"l F jS, Y" }}
    at {{ post.display_time|time:"g:sA" }}
    <br/><br/>
    Tags: {% for tag in tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last%}, {% endif %}{% endfor %}
    <br/><br/>
    Possibly related posts:
<ul class="related-posts-list">
    {% for post in related_posts %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
</div>

<div class="comments">
{% get_comments for post as comments %}
<h2>{{ comments.count }} Responses to "{{ post.title }}"</h2>
{% include "includes/comments.html" %}
</div>

<a name="comment-form"></a>
<div class="blog-comment-form">
<h2>Leave a Comment</h2>
<form id="comment-form" action="post" target="">
    {% comment_form post %}
    <p class="comment-form-options">
        <a id="comment-preview" href="#" title="Click before posting comment">Preview</a>
        <input id="comment-submit" type="submit" value="Post Comment"></input>
        <span id="comment-submit-working">Posting... </span>
    </p>
</form>
</div>

<script type="text/javascript">

$('#comment-preview').click(function(){
    var name = $("#id_name").val();
    var url = $("#id_url").val();
    var email = $('#id_email').val();
    var comment = $("#id_content").val();

    data = {'name':name, 'url':url, 'email':email, 'bbcode':comment };
    $('#comment-preview-working').show();
    $("#comment-preview-content").hide();
    $("#comment-preview-content").load("{% url xhr_preview_comment %}", data, function(){
        $('#comment-preview-working').hide();
        $("#comment-preview-content").show();

        });
    return false;
});

$('#comment-submit').click(function(){

    var data = {};
    $('#comment-form input, #comment-form textarea').each(function(){
        var $this = $(this);
        var name = $this.attr('name');
        var value = $this.val();
        data[name]=value;

    });

    $('#comment-submit').hide();
    $('#comment-submit-working').show();

    $.post("{% url xhr_post_comment %}", data, function(json){

        var response = eval("("+json+")");
        if (response.status=='ok')
        {
            history.go(0);
            //window.location.reload(0);
            //window.location.href = window.location.href;// + '#comment'+response.comment_id;
        }
        else
        {
            $('#comment-submit-working').hide();
            $('#comment-submit').show();
        }

    });



    return false;
});


</script>


<div id="comment-preview-working">
    <div class="content">Previewing comment, please wait a moment...</div>
    <img src="/media/images/throbber.gif"> </img>
</div>
<div id="comment-preview-content">
</div>


{% endblock %}


{% block tagline %}<a href="{{ post.blog.get_absolute_url }}">{{ tagline }}</a>{% endblock %}