{% extends "blog_base.html" %}
{% block title %}{{ blog.title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/blog_base.js"> </script>
{% endblock %}

{% block column1 %}
{% for entry in entries %}
<div class="entry">
<h1><a href="{{ entry.date_url }}">{{ entry.title }}</a></h1>
<div class="post-subtitle">{{ entry.display_time|timesince }} ago</div>

{% if not entry.content_summary_html %}
    {{ entry.content_html|safe }}
{% endif %}


{% if entry.content_summary_html %}
    {{ entry.content_summary_html|safe }}
    <div class="read-more""><a href="{{ entry.date_url }}">Read more...</a></div>
{% endif %}
</div>
{% endfor %}
{% endblock %}

{% block column2 %}
{% for year,months in archives %}
<h1>{{ year }}</h1>
<ul>
    {% for year, month, count in months %}
    <li>{{ month }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}

{% block summary_area %}
<h1>{{ blog.title }}</h1>
<div class="summary-area">{{ blog.description_html|safe }}</div>
{% endblock %}