{% extends "blog_base.html" %}
{% block title %}{{ entry.title }}{% endblock %}

{% block summary_area %}
<div class="faded-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></div>
<h1>{{ blog.tagline }}</h1>
{% endblock %}

{% block column1 %}
<h1>{{ entry.title }}</h1>
<div class="post-subtitle">{{ entry.display_time|timesince }} ago</div>

{{ entry.content_html|safe }}

{% endblock %}


{% block tagline %}<a href="{{ entry.blog.get_absolute_url }}">{{ tagline }}</a>{% endblock %}