{% extends "blog_base.html" %}

{% load blogtags %}

{% block title %}{{ blog.title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/blog_base.js"> </script>
{% endblock %}

{% block column1 %}
{% for entry in entries %}

<div class="entry">
    <div class="post-date">
    <div class="date-inner">
        <span class="month">{{ entry.display_time.month|shortmonth }}</span>
        <br/>
        <span class="day">{{ entry.display_time.day }}</span>
        <br/>
        <span class="year">{{ entry.display_time.year }}</span>
        {# {{ entry.display_time|timesince }} ago #}
    </div>
</div>
<h1><a href="{{ entry.date_url }}">{{ entry.title }}</a></h1>

{% if not entry.content_summary_html %}
    {{ entry.content_html|safe }}
{% endif %}


{% if entry.content_summary_html %}
    {{ entry.content_summary_html|safe }}
    <div class="read-more""><a href="{{ entry.date_url }}">Read more...</a></div>
{% endif %}
</div>
<br/>
{% endfor %}
{% endblock %}

{% block column2 %}
{% for year,months in archives %}
<h1>{{ year }}</h1>
<ul>
    {% for year, month, count in months %}
    <li>{{ month|longmonth }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}

{% block summary_area %}
<div class="faded-title">{{ blog.title }}</div>
<h1>{{ blog.tagline }}</h1>
<div class="summary-area">{{ blog.description_html|safe }}</div>
{% endblock %}
