{% extends "blog_base.html" %}
{% block title %}Posts tagged with '{{ tag.name }}'{% endblock %}

{% load blogtags %}

{% block summary_area %}
<div class="faded-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></div>
<h1>{{ blog.tagline }}</h1>
{% endblock %}

{% block column1 %}

{% for post in posts %}

<div class="post">
    {% comment %}
    <div class="post-date">
    <div class="date-inner">
        <span class="month">{{ post.display_time.month|shortmonth }}</span>
        <br/>
        <span class="day">{{ post.display_time.day }}</span>
        <br/>
        <span class="year">{{ post.display_time.year }}</span>
        {# {{ post.display_time|timesince }} ago #}
    </div>
    </div>
    {% endcomment %}

<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

<div class="post-subtitle">{{ post.display_time|date:"F jS, Y" }}</div>

{% if not post.content_summary_html %}
    {{ post.content_html|first_paragraph|safe }}
{% endif %}


{% if post.content_summary_html %}
    {{ post.content_summary_html|safe }}
{% endif %}

<div class="read-more"><a href="{{ post.get_absolute_url }}">Read more...</a></div>

</div>
<br/>
{% endfor %}

{% if older_page_url or newer_page_url %}
<div class="summary-navigation">
    {% if older_page_url %}
    <div class="prev-post">
        <a href="{{ older_page_url }}">Older posts</a>
    </div>
    {% endif %}

    {% if newer_page_url %}
    <div class="next-post">
        <a href="{{ newer_page_url }}">Newer posts</a>
    </div>{% endif %}
    <div class="clear"> </div>
</div>
{% endif %}

{% endblock %}
