{% load markuptags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{% block title %}YOU FORGOT THE TITLE!{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/common.css" type="text/css" ></link>
    <link rel="stylesheet" href="/media/css/blog_base.css" type="text/css" ></link>
    <link rel="stylesheet" href="/media/css/code.css" type="text/css" ></link>
    {% block css %}{% endblock %}

    <script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"> </script>
    {% block js %}{% endblock %}
</head>

<body>


    <div class="intro">
        <h1>{{ title }}</h1>
    </div>

    <div id="content">

        <div class="feed-icon-container">
                <div class="feed-icon-large">
                    <a href="#" title="RSS feed">&nbsp;</a>
                </div>
            </div>

        <div id="header">
            <div class="title-area">
            <div class="inner">
                {% block summary_area %}{% endblock %}
                </div>

            </div>

        </div>

        <div id="main">
            <div class="bottom-shadow"> </div>

            {% block above_columns %}{% endblock %}

            <div id="column1">

                <div class="inner">

                    <div class="column1-content">
                        {% block column1 %}
                        <h2><a href="#">Blog Post Title</a></h2>
                        <div class="post-subtitle">Posted 2 days ago, by Will</div>

                        <p>
                While Reset CSS removes and <a href="kjhkjh">neutralizes</a> the inconsistent default styling of HTML elements, Base CSS applies a consistent style foundation for common HTML elements across A-grade browsers.

    Fonts CSS offers cross-browser typographical normalization and control; the framework provides consistent font sizing and line-height, supports user-driven font-size adjustment in the browser, including cross-browser consistency for adjusted sizes and works in both Quirks Mode and Standards Mode.

    Grids CSS delivers four preset page widths, six preset templates, and the ability to stack and nest subdivided regions of two, three, or four columns. The 4kb file provides over 1000 page layout combinations. The framework supports easy customization of the width for fixed-width layouts; it also supports fluid-width (100%) layouts as well as preset fixed-width layouts at 750px, 950px, and 974px, and the ability to easily customize to any number. YUI also offers The YUI Grids Builder — a simple interface for Grids customization.

    You should be aware that these frameworks are often criticized for bloating the code with non-semantic markup and generating too many unnecessary classes, IDs and div-containers in CSS. Yahoo! UI Library also provides a detailed documentation with numerous examples, tutorials, cheat sheets, templates and tools.
                        </p>
                        {% endblock %}
                    </div>

                </div>

            </div>

            <div id="column2">
                {% block column2 %}
                {% markupsection sections "column2" %}
                {% endblock %}
            </div>
            <div class="clear"> </div>

            <div id="footer">
                <div class="inner">
                    <div class="footer-content">
                        {% markupsection sections "footer" %}
                    </div>
                </div>

            </div>

        </div>


    </div>

    <div class="subtext">
        &copy; 2008 Will McGugan.<br/><br/>
    </div>
    <div class="credit">
        A <a href="http://code.google.com/p/djangotechblog/">technoblog</a> blog, design by <a href="http://www.willmcgugan.com">Will McGugan</a>
    </div>


</body>
{% block js_foot %}
{% endblock %}

</html>