{% extends "blog_base.html" %}

{% load blogtags %}
{% load humanize %}

{% block title %}{{ blog.title }}{% ifnotequal page 1 %} - {{ page|ordinal }} page{% endifnotequal %}{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/blog_base.js"> </script>
{% endblock %}

{% block above_columns %}
<div class="links-area">
    <ul class="links-list">
    <li><a href="#df">Link 1</a></li>
    <li><a href="#qwrqwr">A Second Link</a></li>
    <li><a href="#gsdg">Link number 3</a></li>
    <li><a href="#sd">Yet another link</a></li>
    </ul>
</div>
<div class="clear"> </div>
{% endblock %}

{% block column1 %}

{% for entry in entries %}

<div class="entry">
    <div class="post-date">
    <div class="date-inner">
        <span class="month">{{ entry.display_time.month|shortmonth }}</span>
        <br/>
        <span class="day">{{ entry.display_time.day }}</span>
        <br/>
        <span class="year">{{ entry.display_time.year }}</span>
        {# {{ entry.display_time|timesince }} ago #}
    </div>
</div>
<h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>

{% if not entry.content_summary_html %}
    {{ entry.content_html|first_paragraph|safe }}
{% endif %}


{% if entry.content_summary_html %}
    {{ entry.content_summary_html|safe }}
{% endif %}

<div class="read-more""><a href="{{ entry.date_url }}">Read more...</a></div>

</div>
<br/>
{% endfor %}

{% if older_page_url or newer_page_url %}
<div class="summary-navigation">
    {% if older_page_url %}
    <div class="prev-entry">
        <a href="{{ older_page_url }}">Older posts</a>
    </div>
    {% endif %}

    {% if newer_page_url %}
    <div class="next-entry">
        <a href="{{ newer_page_url }}">Newer posts</a>
    </div>{% endif %}
    <div class="clear"> </div>
</div>
{% endif %}

{% endblock %}


{% block column2 %}


<h1>Tag Cloud</h1>
<div class="tag-cloud">

{% for scale, font_size, tag in blog.get_tag_cloud %}
    <span class="tag" style="font-size:{{ font_size }}px;">
        <a href="#" title="{{ tag.count }} posts">{{ tag.name|title }}</a>
    </span>
{% endfor %}

</div>
<div class="clear"> </div>

<h1>Archives</h1>
<div class="archives">
    {% for year,months in archives %}
    <div class="archive-year">{{ year }}</div>
    <ul class="archive-months">
        {% for year, month, count in months %}
        <li>
            <div class="archive-month">
                <a href="#" title="{{ count }} posts">{{ month|longmonth }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="clear"> </div>
    {% endfor %}
</div>

{% endblock %}


{% block summary_area %}
<div class="faded-title">{{ blog.title }}</div>
<h1>{{ blog.tagline }}</h1>
<div class="summary-area">{{ blog.description_html|safe }}</div>
{% endblock %}
